* {
    margin: 0px ; 
    padding: 0px;
    margin: auto;
}

table{
    width: 40%;
}
td{
    width: 33.3%;
    border: 5px solid #222;

}

td:after {
    content: "";
    display: block;
    margin-top: 75%;

  }
  