@font-face {
    font-family: "coolfont";
    src: url("fonts/Retro\ Gaming.ttf");
}
body{
    background-color:#292831;
    font-family: "coolfont";
   padding: 10px;
}
.game-board
{ 
	width: 300px;
	height: 300px;
	margin: 40px auto;
  color: #f8d2ca
  ;
  border: 6px solid #333f58;
  background-color: #333f58;
	border-radius: 4px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  text-align: center;
  border: 6px solid #333f58;
  background-color: #ee8695;
  border-radius: 2px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.box:hover{
    cursor: pointer;
    background-color: #eba2ad;
}
.header{
    margin: auto;
    width:200px;
    height: 50px;
    border: 10px solid #333f58;
    background-color:#ee8695 ;
    color: #f8d2ca;
    font-size: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: 5px solid #333f58;
    color:  #f8d2ca;
    background-color:#ee8695 ;
    text-align: center;
    width: 200px ;
   height: 50px;
   font-size: 2em;
   cursor: pointer;
   font-family: "coolfont";
padding: 2px;
}
#restart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 0px;
}